.Gif {
    border: 1px solid #eeeeee;
    border-radius: 6px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: auto;
    padding: 32px;
    width: 40%;
}

.Gif img {
    object-fit: contain;
}

i {
    font-size: 70px;
}